body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
    background-color: #000000;
    width: 340px;
    border-radius: 1rem; /*1 rem - 16px*/
    /* margin-left: 0.4rem; */
}

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;     /* scroll will be sidplayed only when it's overflow */
    margin-left: 0.4rem;
    /* height: ; */
    padding: 0 1.5rem 0 1.5rem;
}

.music-player{
    background-color: #000000;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: #ffffff;
}
.nav{
    height: 100px;
    padding: 0.5rem 0.75px;
    background-color: #121212;
    border-radius: 1rem;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
}
.nav-option{
    line-height: 2.5rem;
    margin-left: 1.3rem;
    opacity: 0.7;
    padding: 0.1rem 0.6rem;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size:1.25rem;
    padding-right:0.7rem ;
}

.nav-option a{
    font-size:1rem;
}
.options{

    display: flex ;
    justify-content: space-between;
    align-items: center;
}
.library{
    padding: 0.7rem;
    border-radius: 1rem;
    background-color: #121212;
    height:100%;
    align-items: center;
    margin-top: 0.4rem;
    
}
.library img{
    width: 1.25rem;
    height: 1.25rem;
}
.library-option a{
    margin-left: 0.1rem;
    padding-left:1rem;
}
.library-icons{
    font-size: 1rem;

    display: flex;
}
.library-icons i{
    opacity: 0.7;   
    margin-right: 1rem;
}

.box{
    height: 8rem;
    background-color: #232323;
    border-radius: 0.75REM;
    margin: 0.5rem 0  0.5rem 0;
    padding: 0.75rem 1rem;
    margin-top: 1.75rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 500;
}
.box-p2{
    font-size: 0.85rem;
    opacity: 0.8;
}
.badge{
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    height: 2rem;
    margin-top: 0.5rem;
    width: fit-content;
}
.sticky-nav{
    position: sticky;
    top: 0;
    /* background-color:#232323; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem 0 1rem 1rem;
    z-index: 10;
}
.icns{
    margin-top: 0.5rem;
    margin-left: 2rem;
}
.nav-item{
    margin-right: 1rem;
}
.btns{
   margin-right: 1.5rem;
}

@media (max-width:1000px)
{
    .hide{
        display: none;
    }
}
.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.cards-container{
    display: flex;
    margin-left: 1.5rem;
    flex-wrap: wrap;
}
.card-img{
    width: 100%;
    border-radius: 0.5rem;

}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.85rem;
    opacity: 0.5;
}
/* .footer{

    height: 300px;
}
.line{
    width: 90%;
    height: 30%;
    border-top: 2px solid blanchedalmond;
} */

.song-data{
    width: 25%;
    height: 3.8rem;
    display: flex;
    margin: 0.5rem;
}
.song-data i{
    margin: 1.3rem 0 2rem 0 ;
    opacity: 0.7;
    font-size: 1rem;
}
.song-data img{
    width: 3.4rem;
    height: 3.4rem;
    border-radius:0.2rem;

}
.song-info{
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    /* margin: 0.6rem 0 0 0.8rem; */
}
.song-name{
    font-size: 0.87rem;
    font-weight: 500;
}
.song-artist{
    font-size: 0.75rem;
    opacity: 0.7;
}
.opts{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .play-options{
    width: 22.01rem;
    height: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items:center;
    
    
}
.play-options img{
    margin: 0.2rem;
    width: 1rem;
    height: 1rem;
    opacity: 0.7;
    display: center;
    
}
#center{
    opacity: 1;
    width: 2rem;
    height: 2rem;
    margin-bottom: 0.1rem;
}

.play-options img:hover{
    opacity: 1;
}
.controlls{
    width: 25%;
    height: 100%;
    /* background-color: pink; */
}
.progressbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.prog-bar{
    width: 7rem;
}
input[type="range"] 
{
    appearance: none; 
    width: 19.6rem;
    background-color: transparent;
    cursor: pointer;
}

.prog-bar::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #444444, #3d3d3d); /* Gradient track */
    height: 0.2rem;
    border-radius: 100px; /* Rounded edges */
    border: 1px solid #ccc;
}
.prog-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: green;
    border-radius: 50%;
    margin-top: -6px;
}